@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
	height: auto;
	background-color: #222831;
	font-family: 'Poppins', sans-serif;
}
.principalSect{
	width: 428px;
	height: 926px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
}
.principalSect header{
	display: flex;
	flex-direction: column;
}
.bienvenidaAstro{
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
}
.colum h1{
	font-size: 35px;
	font-weight: 700;
	line-height: 96px;
	text-align: center;
	color: #EEEEEE;
}
.bienvenidaAstro img{
	width: 380px;
	height: 380px;
}
header{
	margin-top: 70px;
}
.iSesion{
	width: 380px;
	height: 68px;
	margin-bottom: 8px;
	border-radius: 5px;
	padding: 8px 24px 8px 24px;
	background-color: #B194F5;
	color: #222831;
	border:none;
	cursor: pointer;
}
.registro{
	width: 380px;
	height: 68px;
	border-radius: 5px;
	padding: 8px 24px 8px 24px;
	border: 1.5px solid #B194F5;
	color: #EEEEEE;
	background-color: transparent;
	cursor: pointer;
}


.final-page {
	display: none;
}
.colum h3{
	display: none;
}

